/*Page Spacing*/
main {
    display: flex;
}

header {
    border-style: solid;
    margin-bottom: 10px;
    margin-top: 10px;
}

#lucky {
    flex: 3;
    max-width: 50%;
    margin-right: 1%;
}

aside {
    flex: 2;
    flex-flow: column;
    border-style: solid;
    max-width: 200px;
    margin-left: 1%;
    min-width: 100px;
}

#list_title {
    flex: 1;
    padding: 1%;
}

#blogs {
    flex: 1;
}


/*Text*/
header h1 {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
}

#list_title {
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#blogs {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*Elements Formatting*/
body {
    background-color: lavender;
}

header {
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px purple;
}

aside {
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px purple;
}

#lucky {
    box-shadow: 5px 5px 10px purple;
}